<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DriveToMark</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>indexPage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>initialSignUp.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorLogin</display-name>
    <servlet-name>ErrorLogin</servlet-name>
    <servlet-class>initialSignUp.ErrorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorLogin</servlet-name>
    <url-pattern>/ErrorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpProcess</display-name>
    <servlet-name>SignUpProcess</servlet-name>
    <servlet-class>initialSignUp.SignUpProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpProcess</servlet-name>
    <url-pattern>/SignUpProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>models.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>initialSignUp.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Advertise</display-name>
    <servlet-name>Advertise</servlet-name>
    <servlet-class>advertiseAndLookup.Advertise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Advertise</servlet-name>
    <url-pattern>/Advertise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookUp</display-name>
    <servlet-name>LookUp</servlet-name>
    <servlet-class>advertiseAndLookup.LookUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookUp</servlet-name>
    <url-pattern>/LookUp</url-pattern>
  </servlet-mapping>
</web-app>